<ng-container *transloco="let t">
    <h1 mat-dialog-title>
        <strong>{{ action === "Add" ? t("Add") : t("Update") }}
            {{ t("Leave Data") }}
        </strong>
    </h1>
    <mat-dialog-content>
        <form *ngIf="action === 'Add'" class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" [formGroup]="leavesForm" #formDirective="ngForm" #leave="ngForm" (ngSubmit)="doAction(formDirective)">

            <div class="flex flex-col gt-md:flex-row">
                <mat-form-field class="flex-auto gt-md:pr-3">
                    <mat-label>
                        {{ t("Type Leave") }}
                    </mat-label>
                    <mat-select #leaveTypeSelect formControlName="leaveType" name="type">
                        <mat-option value="unassigned" selected>
                            <span>
                                {{ t("Select Leave Type") }}
                            </span>
                        </mat-option>
                        <mat-option *ngFor="let type of leaveTypeData" [value]="type.code">
                            {{ t(type.name) }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="getLeaveType.errors && getLeaveType.touched">
                        {{ t("The leave type field is required") }}
                    </mat-error>
                    <mat-hint *ngIf="leaveTypeSelect.value === 'annual'">{{ t("Maximum 14 times request annual leave") }}</mat-hint>
                </mat-form-field>
            </div>

            <div class="flex flex-row gap-4 justify-start">
                <div class="flex-auto gt-xs:pl-3 mb-3">
                    <mat-checkbox #fullDayCB [aria-label]="isFullDay" (change)="true" formControlName="fullDayLeave">
                        {{ t("Full Day") }}
                    </mat-checkbox>
                </div>
            </div>

            <!-- ====== DatePicker For Half Day ====== -->
            <div class="flex flex-row gap-4 justify-start" *ngIf="!fullDayCB.checked">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select Leave Date") }}
                    </mat-label>
                    <input matInput [matDatepicker]="picker" name="dateRegister" formControlName="startLeaveDate" [min]="minDate" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-hint *ngIf="leaveTypeSelect.value === 'annual'" align="end">{{ t("Date must be more than or equal to 14 days from now") }}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="invalidDateDuration">
                        {{ t("Cannot make request less than 14 days") }}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- ====== DatePicker for Full Day ====== -->
            <div class="flex flex-row gap-4 justify-start" *ngIf="fullDayCB.checked">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select Leave Date") }}
                    </mat-label>

                    <mat-date-range-input [formGroup]="leavesForm" [rangePicker]="rangePicker" [min]="minDate">
                        <input matStartDate [min]="minDate" formControlName="startLeaveDate" placeholder="Start date">
                        <input matEndDate [min]="minDate" formControlName="endLeaveDate" placeholder="End date">
                    </mat-date-range-input>

                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-hint *ngIf="leaveTypeSelect.value === 'annual'" align="end">{{ t("Date must be more than or equal to 14 days from now") }}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker></mat-date-range-picker>
                    <mat-error *ngIf="
                            (getStartLeaveDate.errors &&
                            getStartLeaveDate.touched) && (getEndLeaveDate.errors &&
                            getEndLeaveDate.touched)
                        ">
                        {{ t("The date field is required") }}
                    </mat-error>
                    <mat-error *ngIf="invalidDateDuration">
                        {{ t("Cannot make request less than 14 days") }}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- ====== Time Picker ====== -->
            <div class="flex flex-row gap-4 justify-start" *ngIf="!fullDayCB.checked">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select Start Time") }}
                    </mat-label>
                    <input matInput #startTimeInput [enableKeyboardInput]="true" [format]="24" [min]="'08:00'" [timeSet]="setMinStartTime(startTimeInput.value)" (input)="setMinStartTime(startTimeInput.value)" [ngxTimepicker]="startLeaveTime" formControlName="startLeaveTime"
                        placeholder="Start time">
                    <ngx-material-timepicker #startLeaveTime></ngx-material-timepicker>
                </mat-form-field>

                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select End Time") }}
                    </mat-label>
                    <input matInput [format]="24" [min]="minEndLeaveTime" [max]="'17:00'" [ngxTimepicker]="endLeaveTime" formControlName="endLeaveTime" placeholder="End time">
                    <ngx-material-timepicker #endLeaveTime></ngx-material-timepicker>
                </mat-form-field>

            </div>

            <div class="flex flex-row gap-4 justify-start">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Description") }}
                    </mat-label>
                    <textarea matInput class="max-h-52" formControlName="description" placeholder="Description"></textarea>
                </mat-form-field>
            </div>

            <!-- Image Picker -->
            <div *ngIf="leaveTypeSelect.value === 'sick'" class="flex flex-col gt-md:flex-row">
                <mat-label>
                    {{ t("Sick Letter") }}
                    <span *ngIf="isValidPicture === false" class="text-red-700">*</span
                    >
                    <span
                        *ngIf="isValidPicture === true || isValidPicture === null"
                        >*</span
                    ></mat-label
                >
                <input
                    type="file"
                    id="filePicker"
                    (change)="handleFileSelect($event)"
                    #filePickerInput
                />
                <mat-error *ngIf="isValidPicture === false">
                    <small class="font-medium"
                        >
                        {{ t("The picture field is required") }}
                        </small
                    >
                </mat-error>
            </div>

            <!-- ==== Button ==== -->

            <div class="mt-10 flex justify-center">
                <mat-dialog-actions>
                    <button mat-button (click)="closeDialog()" mat-stroked-button>
                        {{ t("Cancel") }}
                    </button>
                    <button mat-flat-button color="primary" type="submit">
                        {{ t("Submit") }}
                    </button>
                </mat-dialog-actions>
            </div>
        </form>
        <div *ngIf="action === 'Update'">
            <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" [formGroup]="leavesForm" #formDirective="ngForm" #assets="ngForm" (ngSubmit)="doAction(formDirective)" id="leavesFormSubmit">
                <div *ngIf="data.status === 'unapprove'">
                    <div class="flex flex-col gt-md:flex-row">
                        <mat-form-field class="flex-auto gt-md:pr-3">
                            <mat-label>
                                {{ t("Type Leave") }}
                            </mat-label>
                            <mat-select #leaveTypeSelect formControlName="leaveType" name="type">
                                <mat-option value="unassigned" selected>
                                    <span>
                                        {{ t("Select Leave Type") }}
                                    </span>
                    </mat-option>
                    <mat-option *ngFor="let type of leaveTypeData" [value]="type.code">
                        {{ t(type.name) }}
                    </mat-option>
                    </mat-select>
                    <mat-error *ngIf="getLeaveType.errors && getLeaveType.touched">
                        {{ t("Leave type field is required") }}
                    </mat-error>
                    <mat-hint *ngIf="leaveTypeSelect.value === 'annual'">{{ t("Maximum 14 times request annual leave") }}</mat-hint>
                    </mat-form-field>
            </div>

            <div class="flex flex-row gap-4 justify-start">
                <div class="flex-auto gt-xs:pl-3 mb-3">
                    <mat-checkbox #fullDayCB [aria-label]="isFullDay" (change)="true" formControlName="fullDayLeave">
                        {{ t("Full Day") }}
                    </mat-checkbox>
                </div>
            </div>

            <!-- ====== DatePicker For Half Day ====== -->
            <div class="flex flex-row gap-4 justify-start" *ngIf="!fullDayCB.checked">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select Leave Date") }}
                    </mat-label>
                    <input matInput [matDatepicker]="picker" name="dateRegister" formControlName="startLeaveDate" [min]="minDate" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-hint *ngIf="leaveTypeSelect.value === 'annual'" align="end">{{ t("Date must be more than or equal to 14 days from now") }}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- ====== DatePicker for Full Day ====== -->
            <div class="flex flex-row gap-4 justify-start" *ngIf="fullDayCB.checked">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select Leave Date") }}
                    </mat-label>

                    <mat-date-range-input [formGroup]="leavesForm" [rangePicker]="rangePicker" [min]="minDate">
                        <input matStartDate [min]="minDate" formControlName="startLeaveDate" placeholder="Start date">
                        <input matEndDate [min]="minDate" formControlName="endLeaveDate" placeholder="End date">
                    </mat-date-range-input>

                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-hint *ngIf="leaveTypeSelect.value === 'annual'" align="end">{{ t("Date must be more than or equal to 14 days from now") }}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker></mat-date-range-picker>
                    <mat-error *ngIf="
                                        (getStartLeaveDate.errors &&
                                        getStartLeaveDate.touched) && (getEndLeaveDate.errors &&
                                        getEndLeaveDate.touched)
                                    ">
                        {{ t("The date registered field is required") }}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- ====== Time Picker ====== -->
            <div class="flex flex-row gap-4 justify-start" *ngIf="!fullDayCB.checked">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select Start Time") }}
                    </mat-label>
                    <input matInput #startTimeInput [enableKeyboardInput]="true" [format]="24" [min]="'08:00'" [timeSet]="setMinStartTime(startTimeInput.value)" (input)="setMinStartTime(startTimeInput.value)" [ngxTimepicker]="startLeaveTime" formControlName="startLeaveTime"
                        placeholder="Start time">
                    <ngx-material-timepicker #startLeaveTime></ngx-material-timepicker>
                </mat-form-field>

                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Select End Time") }}
                    </mat-label>
                    <input matInput [format]="24" [min]="minEndLeaveTime" [max]="'17:00'" [ngxTimepicker]="endLeaveTime" formControlName="endLeaveTime" [value]="placeHolderEndTime" placeholder="End time">
                    <ngx-material-timepicker #endLeaveTime></ngx-material-timepicker>
                </mat-form-field>

            </div>

            <div class="flex flex-row gap-4 justify-start">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>
                        {{ t("Description") }}
                    </mat-label>
                    <textarea matInput class="max-h-52" formControlName="description" placeholder="Description"></textarea>
                </mat-form-field>
            </div>
            </div>

            <!-- Image Picker -->
            <div *ngIf="data.leaveType === 'sick'" class="flex flex-col gt-md:flex-row">
                <mat-label>
                    {{ t("Sick Letter") }}
                    <span *ngIf="isValidPicture === false" class="text-red-700">*</span
                        >
                        <span
                            *ngIf="isValidPicture === true || isValidPicture === null"
                            >*</span
                        ></mat-label
                    >
                    <input
                        type="file"
                        id="filePicker"
                        (change)="handleFileSelect($event)"
                        #filePickerInput
                    />
                    <mat-error *ngIf="isValidPicture === false">
                        <small class="font-medium"
                            >
                            {{ t("The picture field is required") }}
                            </small
                        >
                    </mat-error>
                </div>
            </form>
            <!-- Image Preview for update if there is an image -->
            <div *ngIf="data.leaveType === 'sick' && data.picture" class="mt-5 flex flex-col p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden justify-center">
                <p class="font-bold text-xl text-center">{{ t("Current Sick Letter") }}</p><br>
                <img [src]="convertImage(data.picture)" [alt]="data.employeeId">
            </div>
            <!-- ==== Button ==== -->
            <div class="mt-10 flex justify-center">
                <mat-dialog-actions>
                    <button mat-button (click)="closeDialog()" mat-stroked-button>
                            {{ t("Cancel") }}
                        </button>
                    <button mat-flat-button color="primary" type="submit" form="leavesFormSubmit">
                            {{ t("Submit") }}
                        </button>
                </mat-dialog-actions>
            </div>
        </div>


    </mat-dialog-content>


</ng-container>
